*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #212529;
    font-family: 'Poppins', sans-serif;
    color: white;
}

/* a:link,
a:visited{
    color: white;
} */

a:hover {
    color: #ffb742;
}

a {
    text-decoration: none;
    color: white;
}
header {
    display: flex;
    justify-content: space-between;
}
ul {
    display: flex;
}
li {
    list-style: none;
    margin: 20px;
}
button {
    font-weight: 900;
    background-color: #ffb742;
    color: black;
    height: 54px;
    width: 110px;
    border-radius: 50px;
    border-style: none;
    margin: 10px;  
}
main {
    display: flex;
    font-family: 'inter';
    justify-content:right;
    align-content: right;
    margin: 30px 10px;
    text-align:left;
}
.main1 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-left: 50px;
}
#subtitulo {
    font-size:48px ; 
    font-family: 'Roboto';
}
#botonHire {
    background-color: #ffb742; 
    color: black; 
    font-size: 18px; 
    font-weight:700px; 
    font-family: 'Poppins';
}

main button{
    background-color: #292b2e;
    height: 50px;
    width: 130px;
    border-radius: 50px;
    border-style: none;
    font-family:'Poppins';
    font-weight: 600px;
    font-size: 20px;
    color: #ffb742;
}

footer {
    background-color: #1c1c1c;
    display: flex;
    justify-content: space-around;
    
}
footer ul {
    flex-direction: column;
}
footer li {
    font-size: 10px;
    margin: 2px;
    color: #7B7B7B;
}

.change-mode-body {
    background-color: white;
}
.change-mode-etiqueta-a {
    text-decoration: none;
    color: black;
}