*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #212529;
    font-family: 'Poppins', sans-serif;
    color: white;
}
/* 
a:link,
a:visited{
    color: white;
}
 */
header a:hover {
    color: #ffb742;
}

a {
    text-decoration: none;
    color: white;
} 
header {
    display: flex;
    justify-content: space-between;
}
ul {
    display: flex;
}
li {
    list-style: none;
    margin: 20px;
}
button {
    font-weight: 900;
    background-color: #ffb742;
    color: black;
    height: 54px;
    width: 110px;
    border-radius: 50px;
    border-style: none;
    margin: 10px;  
}
main {
    margin: 30px 10px;
    text-align: center;
}
main button{
    background-color: #292b2e;
    height: 50px;
    width: 130px;
    border-radius: 50px;
    border-style: none;
    font-family:'Poppins';
    font-weight: 600px;
    font-size: 20px;
    color: #ffb742;
}
.subtitulo {
    font-family:'Roboto';
    font-size:39px;
    font-weight: 700px;
}
    
section{
    display: flex;
    justify-content: center;
    align-items: stretch ;

}
section div {
    display: block;
    
}
.texto {
    font-size: 20px;
    margin: 15px;
}

.Cajota {
    background-color: #FFFFFF;
    margin: 15px;
    padding: 10px;
    width: 378px;
    height: 443px;
    display: flex;
    color: black;
    border: 2px solid black;
    flex-direction: column;
}
.Cajota p{
    text-align: justify;
    font-size: 16px;
    color: black;
}
.logowwc {
    width: 98px;
    height: 59px;
    margin-left: 1px;
    margin-right: -30px;
    float: right;
   
}
section div
a:visited{
    color: #ffb742;   
}
.sub {
    text-decoration-line: underline;
}
section p 
a:visited{
   color: black;
}
.logoL {
    width: 98px;
    height: 59px;
    float: right;
    margin-left: 1px;
    margin-right: -30px;
}

footer {
    background-color: #1c1c1c;
    display: flex;
    justify-content: space-around;
    
}
footer ul {
    flex-direction: column;
}
footer li {
    font-size: 10px;
    margin: 2px;
    color: #7B7B7B;
}
.correo {
    align-items: stretch; 
}
.botonEmail {
   background-color: #ffb742;
   height: 30px;
   width: 50px;
   border-radius: 100px;
}
.change-mode-body {
    background-color: white;
}
.change-mode-etiqueta-a {
    text-decoration: none;
    color: black;
}