*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto';  
}
a {
    text-decoration: none;
    /*color: #233160;*/
}
header {
    background-color: rgba(0, 162, 255, 0.555);
    color: #233160;
    font-family: 'Roboto';
    display: flex;
    justify-content: space-around;
    height: 50px;  
}
#title {
 font-size: 20px;
 font-family: 'Roboto';
 font-weight: 700px;
 margin-top: 15px;
}
#botonAbout {
 font-size: 18px;
 background-color: #d7f2f2;
 color: red;
 border: none;
 border-radius: 20px;
 font-family: 'Roboto';
 width: 116px;
 height: 22px;
 margin-top: 15px;
 
}
main {
    flex-grow: 1;
}
.firstBox {
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.introduction {
    display: block;
    margin: 50px 60px 5px 60px;
    /*margin-top: 30px;
    margin-left: 10px;
    margin-right: 20px;*/
    color: #233160;
    font-size: 18px;  
    font-weight: 520;
}
.question {
    color: #233160;
    font-size: 32px;
    font-weight: 700;
}
.secondBox {
    background-color: #96c96a;
    color: white;
}
/*a:hover {
    color: #233160;
}*/
li {
    list-style: none;
    margin: 10px;
}
ul{
    display: flex;
    justify-content: space-evenly;
    
}
#boxCharacter {
    background-color: rgba(0, 162, 255, 0.555) ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    margin: auto;
    
    flex-direction: column row;
}

#name {
    justify-content: center;
}
#image {
    margin-left: 15px;
    border-radius: 15px;
    width: 200px;
    height: 200px;
    
}
/*#gender {

}
#status {

}*/

.boxButtons {
    font-size: 18px;
    background-color:rgba(0, 162, 255, 0.555) ;
    /*border: none;
    border-radius: 20px;
    font-family: 'Roboto';
    width: 116px;
    height: 22px;
    margin-top: 15px;*/
}
footer {
    background-color: #96c96a;
    font-family:'Work Sans';
    color: #f5fbf2;
    display: flex;
    justify-content: space-around; 
}
h5 {
    color: #d5fab6;
}
h4 {
    font-size: 15px;
}
footer ul {
    flex-direction: column;
}
footer a:link {
    color: #d5fab6 ;
}
footer li {
    font-size: 10px;
    margin: 2px;
}
